<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bolet Evento Vip</key>
	<string>com.cover.boleto.vip</string>
	<key>Boleto Evento Básico</key>
	<string>com.cover.boleto.basico</string>
</dict>
</plist>
